version: "3"

services:
  database:
    image: pgvector/pgvector:pg16
    command: -c 'max_connections=500'
    restart: unless-stopped
    expose:
      - 5432
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
      - ./../gamification_service/pg-init-scripts:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=gamification_service
  app-gamification:
    build:
      context: ./../gamification_service # necessary because otherwise docker-compose overrides the context path when merging multiple docker-compose.yml files
      dockerfile: Dockerfile
    restart: unless-stopped
    container_name: gamification_service
    expose:
      - 1200
      - 1201
    ports:
      - "1200:1200"
      - "1201:1201"
      - "5005:5005"
    depends_on:
      - database
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://database:5432/gamification_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      JAVA_OPTS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
  dapr-gamification:
    image: "daprio/daprd"
    command: [
      "./daprd",
      "--app-id", "gamification_service",
      "--app-port", "1201",
      "--dapr-http-port", "1200",
      "--resources-path", "./components"
    ]
    volumes:
      - "./../gamification_service/components/:/components" # Mount our components folder for the runtime to use. The mounted location must match the --resources-path argument.
    depends_on:
      - app-gamification
      - redis
    network_mode: "service:app-gamification"
  redis:
    image: "redis:alpine"
    expose:
      - "6379"
volumes:
  dbdata:
  testdata:
networks:
  default:
    name: dapr-network
    external: true
